/* total document styling to the body*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: beige;
}
/* added header styling */
header {
    background-color:beige;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    border-style:solid;
    border-color: rgb(29, 127, 207);
    border-width: 5px;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    background-color: beige;
    padding: 20px;
    border-style:double;
    border-width: 4.5px;
    color: black;
    border-color: rgb(58, 149, 224);
    
}
/* positioned and styled the nav links*/
header a {
    list-style: none;
    justify-content: right;
    flex-wrap: wrap;
    display: flex;
    font-size: 23px;
    font-weight:bold;
    margin: 5px 15px 5px 0px;
    list-style-type: none;
    background-color: beige;
    border-color: rgb(58, 149, 224);
    
}
/* gave styling and positioning to the background images and positioned them*/
.hero {
    background-image: url(./images/coverphoto.jpeg);
    height: 550px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(58, 149, 224);
}

.hero img {
    height: 350px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(58, 149, 224);
}
/* gave the title section styling and needed to set the styling for other .title selectors*/
.title {
    border-right: 5px solid;
    border-color: rgb(58, 149, 224);
    padding-right: 300px;
    text-align: right;
    min-width: 250px;
    max-width: 250px;
}
.title h2 {
    font-size:50px;
    font-weight: bold;

}
/* about me section */
.AboutMe {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 45px;
}

.AboutMe p {
    font-size: 25px;
    padding: 0 45px;
    width: 700px;
}
/* work section css */
.Work {
    display:flex;
    justify-content:space-between;
    padding: 30px 0;
    text-align: center;
    float: center;
}

.Work img {
    height:175px;
    width: 300px;
    display: flex;
    margin-right: 5px;
}
/* images section */
.horiseon img {
    width: 300px;
    height: 500px;
    border-radius: 25px;
}

.horiseon a {
    display:flex;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: rgb(58, 149, 224);
    color: black;
    border-radius: 5px;
    justify-content: center;
}

.prework img {
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 25px;
}

.prework a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(58, 149, 224);
    color: black;
    border-radius: 5px;
}

.car-bidz img {
    display: flex;
    flex-wrap: wrap;
}
/*
.ContactMe {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-top:40px;
    margin-bottom: 40px;
    
}

*/
.focusfolio img {
    display: flex;
    flex-wrap: wrap;
    
}

/* contacts section */
.ContactMe {
    flex-wrap: wrap;   
    display:inline-flex;
    padding: 10px 10px 10px 0px;
    align-items: center;
    text-decoration: none;
    text-indent: 55px;
    justify-content: space-evenly;

}
*/

.contacts p {
    margin-left: 10px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    background-color: purple;
}

.ContactMe a {
    background-color: rgb(58, 149, 224);
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    
}
/* resume section */
.Resume {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;

}

#resume p {
    display: inline-flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-evenl;
    align-content: center;
    margin-left: 250px;
    background-color:rgb(58, 149, 224);
    color: black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 25px; 
    text-decoration: none;
}

footer {
    display: block;
    background-color: rgb(58, 149, 224);
    width: 100%;
    height: 30px;
    justify-content: center;
    text-align: center;
    padding: 5px 0px 0px 0px
}



/* media styling for mobile devices */

@media screen (max-width: 768px) {
    .hero {
        font-size:24px;
    }
    .title h2 {
        font-size: 40px;
    }
}

@media screen (max-width: 575px) {
    header {
        justify-content: center;
    }
    .hero {
        flex-direction: column;
    }
    .title {
        flex-direction: column;
    }
    .AboutMe {
        flex-direction: column;
    }
    .Work {
        flex-direction: column;
    }
    .ContactMe{
        flex-direction: column;
    }
    .Resume {
        flex-direction: column;
    }

